.container {
  max-width: 700px;
  margin: 0 auto;
  background: var(--Inputs, #f7f7f7);
  border-radius: 10px;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 40px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 40px 50px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }
}
