.container {
  max-width: 300px;
}

.star {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1.5px;
}
.text {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.reviews {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.name {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.price {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.icon {
  color: #ffc531;
}
.text {
  width: 300px;
}
