.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 16px 32px;
  border: 1px solid var(--Gray-light, #dadde1);
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  background: transparent;
  outline: none;
  transition: border 0.3s ease-in-out;
  width: 100%; /* Задаем ширину 100% для мобильных устройств */
}

.loadMore:hover {
  border: 1px solid var(--Button-Hover, #d84343);
}

/* Медиазапросы для адаптации */

@media screen and (min-width: 320px) and (max-width: 374px) {
  .loadMore {
    width: 100%; /* Растягиваем кнопку на всю ширину */
    max-width: 320px; /* Опционально можно задать max-width */
  }
}

@media screen and (min-width: 375px) {
  .loadMore {
    width: 100%;
    max-width: 375px; /* Можно ограничить максимальную ширину */
  }
}

@media screen and (min-width: 768px) {
  .loadMore {
    width: 100%;
    max-width: 768px; /* Максимальная ширина для планшетов */
  }
}

@media screen and (min-width: 1440px) {
  .loadMore {
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину на больших экранах */
  }
}