.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  position: relative;
}

.container::before {
  position: absolute;
  top: 48px;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--Gray-light, #dadde1);
}

.title {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 16px;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: var(--Main, #101828);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
