.stars {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.activeStar {
  color: #ffc531;
}

.inactiveStar {
  color: #dadde1;
}

.text {
  font-size: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 500px;
  margin-left: 0;
}

.input,
.commentInput {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #dadde1;
  border-radius: 8px;
  box-sizing: border-box;
}

.commentInput {
  height: 100px;
  resize: vertical;
}

.sendBtn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--Button, #e44848);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendBtn:hover {
  background-color: var(--Button-Hover, #d84343);
}
