.container {
  background: rgb(247, 247, 247);
  width: 100%;
  margin: 0 auto;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px 15px 16px;
}
.text {
  color: rgb(16, 24, 40);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
