.container {
  background: rgb(247, 247, 247);
  width: 100%;
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px 15px 16px;
}
.text {
  color: rgb(16, 24, 40);
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 28px;
  height: 28px;
}
