.container {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
}

.photo {
  width: 100%;
  height: auto;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 24%;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
.button:hover {
  background-color: rgba(216, 67, 67, 0.5);
}

.button:first-of-type {
  left: 10px;
}

.button:last-of-type {
  right: 10px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalPhoto {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
.btnCls {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 374px) {
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 700px;
  }
}
