.container {
  width: 280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--Gray-light, #dadde1);
  background: var(--White, #fff);
}

.photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.data {
  position: relative;
  width: 100%;
  height: 100%;
}

.head {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: -webkit-box;
  width: 170px;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.text {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
}

.description {
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--Text, #475467);
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

.showMoreBtn {
  text-decoration: none;
  position: relative;
  bottom: 0;
  left: 0;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 200px;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  transition: background 0.3s ease-in-out;
}

.showMoreBtn:hover {
  background: var(--Button-Hover, #d84343);
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon {
  color: #ffc531;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 250px;
    padding: 15px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 300px;
    padding: 20px;
  }
  .name {
    width: 200px;
  }

  .description {
    font-size: 14px;
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 690px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photo {
    height: 300px;
  }
  .price {
    width: 80px;
    font-size: 16px;
  }
  .showMoreBtn {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
  }
  .name {
    width: 350px;
    font-size: 20px;
    line-height: 36px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 900px;
    padding: 25px;
    height: 380px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 24px;
  }

  .photo {
    width: 292px;
    height: 320px;
  }

  .name {
    font-size: 24px;
    line-height: 40px;
  }
  .price {
    width: 150px;
    font-size: 24px;
  }
  .description {
    width: 525px;
    font-size: 16px;
    line-height: 24px;
  }
  .showMoreBtn {
    width: 150px;
    padding: 16px 60px;
    font-size: 16px;
  }
}
